---
layout: angular_default
title: RSVP
---
<article id="main2" ng-app="WeddingApp">
    <header>
        <h2>{{ page.title }}</h2>
        <p>We're so excited to celebrate with you!</p>
    </header>

    <section class="wrapper style5">
        <div class="inner">
            <form id="rsvp-form" ng-controller="RSVPController">
                <h3>Kindly RSVP</h3>
                <fieldset>
                    <label for="email">Email address <span class="usa-additional_text">Required</span></label>
                    <input id="email" name="email" type="text" autocapitalize="off" autocorrect="off">
                </fieldset>
                <fieldset>
                    <label for="first-name">First name</label>
                    <input id="first-name" name="first-name" type="text" required="" aria-required="true">

                    <label for="last-name">Last name</label>
                    <input id="last-name" name="last-name" type="text" required="" aria-required="true">

                </fieldset>
                <fieldset>
                    <label>Will you be brining a guest?</label>
                    <input id="guest-not-attending" type="radio"
                           ng-model="guestAttending"
                           value="false"
                           ng-change="changeGuestAttending(guestAttending)"
                           ng-checked="guestAttending === false">
                    <label for="guest-not-attending">No</label>

                    <input id="guest-attending" type="radio"
                           ng-model="guestAttending"
                           value="true"
                           ng-change="changeGuestAttending(guestAttending)"
                           ng-checked="guestAttending === true">
                    <label for="guest-attending">Yes</label>

                    <div ng-show="guestAttending === true">
                        <label for="guest-first-name">Guest first name</label>
                        <input id="guest-first-name" name="guest-first-name" type="text" required="" aria-required="true">

                        <label for="guest-last-name">Guest last name</label>
                        <input id="guest-last-name" name="guest-last-name" type="text" required="" aria-required="true">
                    </div>

                </fieldset>
                <fieldset>

                    <label for="options">Dinner option</label>
                    <select name="options" id="options">
                        <option value="" disabled selected>Select...</option>
                        <option value="value1">Option A</option>
                        <option value="value2">Option B</option>
                    </select>

                    <div ng-show="guestAttending === true">
                        <label for="options">Guest dinner option</label>
                        <select name="options" id="options">
                            <option value="" disabled selected>Select...</option>
                            <option value="value1">Option A</option>
                            <option value="value2">Option B</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <label>Are you interested in group accommodation rates?</label>
                    <input id="yes-group-accommodation" type="radio"
                           ng-model="groupAccommodation"
                           value="true"
                           ng-change="changeGroupAccommodation(groupAccommodation)"
                           ng-checked="groupAccommodation === true">
                    <label for="yes-group-accommodation">Yes, please provide details to me when they are available!</label>

                    <input id="no-group-accommodation" type="radio"
                           ng-model="groupAccommodation"
                           value="false"
                           ng-change="changeGroupAccommodation(groupAccommodation)"
                           ng-checked="groupAccommodation === false">
                    <label for="no-group-accommodation">No, i'll figure out where to stay on my own.</label>
                </fieldset>

                <input type="submit" value="Submit">

            </form>
        </div>
    </section>


</article>
