---
layout: angular_default
title: RSVP
---

<article id="main2" ng-app="WeddingApp">
    <header>
        <h2>{{ page.title }}</h2>
        <p>We're so excited to celebrate with you!</p>
    </header>

    <section class="wrapper style5">
        <div class="inner">
            <form id="rsvp-form" name="rsvpform" ng-controller="RSVPController" ng-submit="submit(user)">
                <h3>Kindly RSVP</h3>
                <fieldset>
                    <label for="email">Email address <span class="usa-additional_text">Required</span></label>
                    <input id="email" name="email" type="email" autocapitalize="off" autocorrect="off"
                           ng-model="user.email" ng-model-options="{ debounce: 500 }"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                </fieldset>
                <fieldset>
                    <label for="first-name">First name</label>
                    <input id="first-name" name="first-name" type="text"
                           ng-model="user.firstName" required="" aria-required="true">

                    <label for="last-name">Last name</label>
                    <input id="last-name" name="last-name" type="text"
                           ng-model="user.lastName" required="" aria-required="true">

                </fieldset>
                <fieldset>
                    <label>Will you be brining a guest?</label>
                    <input id="guest-not-attending" type="radio"
                           ng-model="user.guest.attending"
                           value="false">
                    <label for="guest-not-attending">No</label>

                    <input id="guest-attending" type="radio"
                           ng-model="user.guest.attending"
                           value="true">
                    <label for="guest-attending">Yes</label>

                    <div ng-show="user.guest.attending === 'true'">
                        <label for="guest-first-name">Guest first name</label>
                        <input id="guest-first-name" name="guest-first-name" type="text"
                               ng-model="user.guest.firstName">

                        <label for="guest-last-name">Guest last name</label>
                        <input id="guest-last-name" name="guest-last-name" type="text"
                               ng-model="user.guest.lastName">
                    </div>

                </fieldset>
                <fieldset>

                    <h5>Available dinner options:</h5>
                    <dl>
                        <dt>Lobster</dt>
                        <dd>Half lobster poached in champagne butter and truffle risotto. Accompanied by a warm baby vegetable salad topped with lobster bisque
                            dressing.
                        </dd>

                        <dt>Lamb</dt>
                        <dd>Grilled lemon grass marinated lamb chops, papaya salsa, coconut gnocchi and galangal foam.</dd>

                        <dt>Vegetarian</dt>
                        <dd>Coconut gnocchi with saffron cream and watercress salad and tossed walnuts.</dd>
                    </dl>
                    <label for="options">Desired dinner option</label>
                    <select name="options" id="options" ng-model="user.dinnerOption">
                        <option value="" disabled selected>Select...</option>
                        <option value="lobster">Lobster</option>
                        <option value="lamb">Lamb</option>
                        <option value="vegetarian">Vegetarian</option>
                    </select>

                    <div ng-show="user.guest.attending === 'true'">
                        <label for="guest-options">Guest's dinner option</label>
                        <select name="guest-options" id="guest-options"
                                ng-model="user.guest.dinnerOption">
                            <option value="" disabled selected>Select...</option>
                            <option value="lobster">Lobster</option>
                            <option value="lamb">Lamb</option>
                            <option value="vegetarian">Vegetarian</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <label>Are you interested in group accommodation rates?</label>
                    <input id="yes-group-accommodation" type="radio"
                           ng-model="user.groupAccommodation"
                           value="true">
                    <label for="yes-group-accommodation">Yes, please provide details to me when they are available!</label>

                    <input id="no-group-accommodation" type="radio"
                           ng-model="user.groupAccommodation"
                           value="false">
                    <label for="no-group-accommodation">No, i'll figure out where to stay on my own.</label>
                </fieldset>

                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</article>
